
$background-color: #242424;
$primary-text-color: #fff;
$banner-color: #444444;

.btn {
  margin-top: 20px;
  text-align: center;
}

.btn:hover {
  color: #9555af;
  border-color: currentColor;
  background-color: white;
}